:root {
  --primary-color: #2563eb;
  --primary-light: #3b82f6;

  --text-color: #1e293b;
  --text-light: #64748b;

  --bg-color: #f8fafc;

  --section-alt: #ffffff;

  --card-bg: rgba(255, 255, 255, 0.75);

  --nav-bg: rgba(255, 255, 255, 0.65);

  --secondary-bg: #ffffff;

  --shadow: 0 15px 35px rgba(0, 0, 0, 0.08);

  --border: rgba(255, 255, 255, 0.35);
}

html.dark-theme {
  --primary-color: #60a5fa;

  --primary-light: #3b82f6;

  --text-color: #f1f5f9;

  --text-light: #94a3b8;

  --bg-color: #020617;

  --section-alt: #0f172a;

  --card-bg: rgba(30, 41, 59, 0.7);

  --nav-bg: rgba(15, 23, 42, 0.75);

  --secondary-bg: #1e293b;

  --shadow: 0 20px 45px rgba(0, 0, 0, 0.45);

  --border: rgba(255, 255, 255, 0.05);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;

  background: var(--bg-color);

  color: var(--text-color);

  overflow-x: hidden;
}
