:root {
  --primary-color: #6366f1;
  --primary-light: #8b5cf6;

  --text-color: #1f2937;
  --text-light: #6b7280;

  --bg-color: #f8fafc;

  --section-alt: #eef2ff;

  --card-bg: rgba(255, 255, 255, 0.8);

  --nav-bg: rgba(255, 255, 255, 0.7);

  --secondary-bg: #ffffff;

  --shadow: 0 15px 35px rgba(99, 102, 241, 0.12);

  --border: rgba(255, 255, 255, 0.4);
}

html.dark-theme {
  --primary-color: #818cf8;
  --primary-light: #a78bfa;

  --text-color: #f8fafc;
  --text-light: #94a3b8;

  --bg-color: #09090b;

  --section-alt: #18181b;

  --card-bg: rgba(39, 39, 42, 0.75);

  --nav-bg: rgba(24, 24, 27, 0.75);

  --secondary-bg: #27272a;

  --shadow: 0 20px 40px rgba(99, 101, 241, 0.139);

  --border: rgba(255, 255, 255, 0.05);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;

  background: var(--bg-color);

  color: var(--text-color);

  overflow-x: hidden;
}
